/* Selectors estão abaixo - o exeplo abaixo seletor: h1{ color - propriedade; value : red .....;propety; 1px */
h1{
    color: blueviolet;
}
.segundo-h2{
    color: blue;
}
/* qdo colocar id coloca-se # na frente */
#verde{
    color: cadetblue;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.container{
    background-color:  #333; 
    color: #eee;
    /* largura em % mais responsivo*/
    width: 80%;
    /* margem*/
    /* centralizar no meio da página */
    margin: auto;
    /* padding - faz o espaçamento entre a borda dentor do conteúdo*/
    padding: 60px;
    /* borda */
    border: 3px solid red;

    box-sizing: border-box;
}
.main-aside ul {
    list-style: none;
    text-align: center;
    padding: 0%;
    }

.main-aside h2{
    text-align: center;
}

main-aside h2:hover{
    text-align: center;
    color: blanchedalmond;
    cursor: pointer;

}

.main-aside ul a {
    text-decoration: none;
    color: black;
}

.main-aside ul a:hover {
 color: aquamarine;
}